
.taxonomy-list legend {
  font-size: 125%;
  font-weight: bold;
}

.taxonomy_list_radios .form-item label.option {
  float: left;
  margin-right: 1.5em;
}

.taxonomy_list_radios .form-item .description {
  clear: both;
}

#taxonomy-image-admin-settings .form-item {
  margin-bottom: 0;
}

.taxonomy-list-table {
  width: 100%;
  border: 0;
  clear: both;
}

.taxonomy-list-table td {
  vertical-align: top;
}

.taxonomy-list-parent a.taxonomy-list-term {
  font-size: 175%;
}

.taxonomy-list-item {
  /*float: left;*/
  clear: both;
  margin-top: 1em;
}

.taxonomy-list-list li.odd {
  background-color: #f0ffff;
  clear: both;
}

.taxonomy-list-list li.even {
  background-color: #f0f0ff;
  clear: both;
}

.taxonomy-list-term {
  float: left;
}

.taxonomy-list-term a {
  font-size: 133%;
}

.taxonomy-list-term-count {
  font-size: 80%;
  float: left;
  margin-left: 1em;
}

/*a.taxonomy-list-edit-link, a.taxonomy-list-search-term {*/
.taxonomy-list-item .inline {
  font-size: 80%;
  margin-left: 1em;
}

.taxonomy-list-description {
  font-size: 100%;
  clear: both;
}

.taxonomy-list-description p {
  margin: 4px 0 0 0;
  text-indent: 1.5em;
}

.taxonomy-list-item .taxonomy_image_wrapper {
  float: left;
  width: auto;
}

.taxonomy-list-directory fieldset {
  clear: both;
}

.taxonomy-list-directory-node {
  clear: both;
}

.taxonomy-list-directory-node .image-attach-teaser {
  float: none;
  margin: 0;
}

.taxonomy-list-directory-node-image {
  width: 90px;
}

.taxonomy-list-directory-node table {
  width: auto;
  margin-left: 3em;
}

.taxonomy-list-vocabulary {
  position: relative;
  clear: both;
  margin-top: 1em;
}

.taxonomy-list-vocabulary .name {
  font-size: 133%;
  font-weight: bold;  
}

.taxonomy-list-vocabulary .description {
  font-style: italic;
  margin: 0 0 0 1em;
  font-size: 100%;
}

.taxonomy-list-vocabulary .node-types {
  clear: both;
  margin-left: 1em;
  font-size: 85%;
}

.taxonomy-list-parent {
  background-color: #ffffff;
}

.taxonomy-list-image {
  float: left;
  margin-right: 1em;
}

.taxonomy-list-title {
  font-size: 120%;
  font-weight: bold;
  margin-right: 1em;
  float: left;
}

.taxonomy-list-related, .taxonomy-list-synonyms {
  margin-left: 2em;
  font-style: italic;
}

.taxonomy-list-admin-links {
  margin-top: .75em;
}

.block-taxonomy_list {
  font-size: 80%;
}

.block-taxonomy_list p {
  text-indent: 0;
}

.block-taxonomy_list .node-types {
  display: none;
}

.block-taxonomy_list .description {
  margin: 0 0 3px 0;
  font-style: normal;
  font-size: 80%;
}

.taxonomy-list-parents {
  float: left;
  margin-left: 0.5em;
  font-size: 80%;
}

td.cells-1 {
  width: 100%;
}

td.cells-2 {
  width: 50%;
}

td.cells-3 {
  width: 33%;
}

td.cells-4 {
  width: 25%;
}

td.cells-5 {
  width: 20%;
}

td.cells-6 {
  width: 16%;
}

td.cells-7 {
  width: 14%;
}

td.8 {
  width: 12%;
}
